<div class="footer text-center">
    <p>&copy; <a href="https://www.codeandco.com/" target="_blank" rel="noopener noreferrer">code &amp; co.</a> {{ 'now' | date: "%Y" }} &middot;  <a href="{{ site.contact_link }}" target="_blank" rel="noopener noreferrer">Contact</a> &middot; <a href="{{ site.terms_link }}" target="_blank" rel="noopener noreferrer">Terms</a> &middot; <a href="{{ site.privacy_notice_link }}" target="_blank" rel="noopener noreferrer">Privacy</a> &middot; <a href="{{ site.impressum_link }}" target="_blank" rel="noopener noreferrer">Impressum</a></p>
</div>
