<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif% %}</title>

	<meta name="robots" content="index, follow">
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	<link href="{{ site.canonical }}" rel="canonical">

	<meta name="google-site-verification" content="{{ site.google_site_verification }}" />

	<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif% %}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:image" content="{{ site.url }}/images/{{ site.og_image }}">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.og_url }}" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{ site.twitter_site }}">
	<meta name="twitter:creator" content="{{ site.twitter_creator }}">
	<meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif% %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}/images/{{ site.twitter_image }}">
	<meta name="twitter:image:alt" content="{{ site.twitter_alt }}">

	<!-- include the Bootstrap stylesheet -->
	<link rel="stylesheet" href="{{ site.url | replace: 'http://', '//' }}/css/bootstrap.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{{ site.url | replace: 'http://', '//' }}/css/main.css">
	{% if site.favicon %}
		{% for fav in site.favicon %}
			<!-- include the Favicon -->
			<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/{{ fav.apple_touch_icon }}">
			<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/{{ fav.favicon_32x32 }}">
			<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/{{ fav.favicon_16x16 }}">
			<link rel="manifest" href="{{ site.url }}/{{ fav.manifest.json }}">
			<link rel="mask-icon" href="{{ site.url }}/fav.safari-pinned-tab.svg" color="#5bbad5">
			<meta name="theme-color" content="#ffffff">
		{% endfor %}
	{% endif %}
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>-->
	<!--<script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-1.12.4.min.js" defer><\/script>')</script>-->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous" defer></script>-->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous" defer></script>-->
	<!-- include custom JavaScript -->
	<!--<script src="{{ site.url | replace: 'http://', '//' }}/js/jquery.main.js" defer></script>-->

	<!-- Google Analytics -->
	<script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics_container_id }}', 'auto');
      ga('send', 'pageview');
	</script>
</head>